{% load static %}
<!DOCTYPE HTML>
<html>
	<head>

		<title>Intranet</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'app_home_page/assets/css/main.css' %}" />
		<link rel="icon" href="{% static 'app_home_page/images/favicon.png' %}" />

	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1><a href="admin:index">INTRANET</a></h1>
							<p>Aqui você vai achar tudo <i class="fa fa-bolt" aria-hidden="true"></i></p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a class="fas fa-home" href="{% url 'index' %}">Página Inicial</a></li>
								<li><a class="fab fa-windows" href="#" target="_blank">Windows</a></li>
								<li><a class="fas fa-phone-volume" href="{% url 'ramais' %}" target="_blank">Ramais</a></li>
								<li><a class="fas fa-utensils" href="{% url 'cardapio' %}" target="_blank">Cardápio</a></li>
								{% if perms.global_permissions.acesso_ti or perms.global_permissions.acesso_compras%}
									<li>
										<a class="fas fa-list" href="">Relatórios</a>
										<ul>
											<li><a class="fa fa-laptop" href="{% url 'relatorioAlocacao_url' %}">Relatório de Máquinas Alocadas</a></li>
										</ul>
									</li>
								{% endif %}
								{% if perms.global_permissions.acessi_ti %}
									<li><a class="fas fa-terminal" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
									<li>
										<a class="fas fa-database" href="#">Inventário</a>
										<ul>
											<li><a href="{% url 'antivirus' %}">Antí-Vírus</a></li>
											<li><a href="{% url 'accesspoint' %}">AccessPoint</a></li>
											<li><a href="{% url 'cameras' %}">Câmeras</a></li>
											<li><a href="{% url 'switches' %}">Switches</a></li>
											<li><a href="{% url 'computadores' %}">Computadores</a></li>
											<li><a href="{% url 'ddr' %}">Dispositivos de Rede</a></li>
											<li><a href="{% url 'impressoras' %}">Impressoras</a></li>
										</ul>
									</li>
								{% endif %}
								{% if user.is_authenticated %}
									<li>
										<a class="fas fa-user" href="">{% if user.first_name and user.last_name %}{{ user.first_name }} {{user.last_name}}{% else %} {{user}} {% endif %}</a>
										<ul>
											<li><a class="fas fa-key" href="{% url 'admin:password_change' %}">Trocar Senha</a></li>
											<li><a class="fas fa-sign-out-alt" href="{% url 'admin:logout' %}">Sair</a></li>
										</ul>
									</li>
								{% endif %}
								
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title">Apresentação</div>
					<div class="container">
						<p class="style1">É com prazer que lhes apresento...</p>
						<p class="style2">
							{% for text in object_list %}
								<a href="">{{ text.fk_layout_presentation.presentation_text }}</a>
							{% endfor %}
						</p>
						<p class="style3">Você <strong>pode</strong>, usa-lo <strong>para</strong> facilitar <strong>sua vida</strong>
						<!--<ul class="actions">
							<li><a href="#" class="button style3 large">Proceed</a></li>
						</ul>-->
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">Detalhes da Aplicação</div>
					<div class="container">

						<!-- Image 
							<a href="#" class="image featured">
								<img src="{% static 'app_home_page/images/pic01.jpg' %}" alt="" />
							</a>
						-->
						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>Recursos Disponíveis <i class="fa fa-rocket" aria-hidden="true"></i></h2>
									<p>Veja um pouco do que foi feito</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-sync">Sincronização com o Active Directory</h3>
												<p>Aqui você não precisa de mais um login. Basta apenas colocar o mesmo do seu PC</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-utensils" aria-hidden="true">Cardápio</h3>
												<p>Veja qual o cardápio do mês</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-ethernet">Inventário de Ativos</h3>
												<p>É possível fazer a gerência de qualquer ativo de rede</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-certificate">Gerência de Licenças</h3>
												<p>Controle de quantidade de licenças com filtros e exportação de dados</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-phone-alt">Lista de Ramais</h3>
												<p>Todos o ramais disponíveis na empresa está aqui</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon solid fa-file-excel">Exportação de Todos os Dados</h3>
												<p>Aqui você pode exportar todas as listas existentes no site</p>
											</section>
										</div>
									</div>
								</div>
								
								<!--<ul class="actions special">
									<li><a href="#" class="button style1 large">Get Started</a></li>
									<li><a href="#" class="button style2 large">More Info</a></li>
								</ul>-->
							</section>

					</div>
				</section>

			<!-- Highlights 
				<section id="highlights" class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="{% static 'app_home_page/images/pic02.jpg' %}" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="{% static 'app_home_page/images/pic03.jpg' %}" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="{% static 'app_home_page/images/pic04.jpg' %}" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</section>-->

			<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="title">Contatos</div>
					<div class="container">
						<!--<header class="style1">
							<h2>Como entrar em contato?</h2>
							<p>
								Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br />
								Nam pharetra laoreet imperdiet volutpat etiam feugiat.
							</p>
						</header>-->
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Contact Form -->
									<section>
										<form method="post" action="#">
											<div class="row gtr-50">
												<div class="col-6 col-12-small">
													<input type="text" name="name" id="contact-name" placeholder="Nome" />
												</div>
												<div class="col-6 col-12-small">
													<input type="text" name="email" id="contact-email" placeholder="Email" />
												</div>
												<div class="col-12">
													<textarea name="message" id="contact-message" placeholder="Menssagem" rows="4"></textarea>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" class="style1" value="Enviar" /></li>
														<li><input type="reset" class="style2" value="Cancelar" /></li>
													</ul>
												</div>
											</div>
										</form>
									</section>

							</div>
							<div class="col-6 col-12-medium">

								<!-- Contact -->
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-home">Endereço</h3>
													<p class="p-footer-text">
														{% for text in object_list %}
														<a href="">{{ text.address_contact_text }}</a>
														{% endfor %}
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-comment">Social</h3>
													<p>
														<a class="fab fa-facebook-square" href="https://pt-br.facebook.com/centrologisticointegradofastcargo/" target="_blank"></a><br />
														<a class="fab fa-linkedin" href="#" target="_blank"></a>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">E-mail</h3>
													<p>
														{% for text in object_list %}
														<a href="">{{ text.fk_email_contact.email }}</a>
														{% endfor %}
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-phone">Telefone para Contato</h3>
													<p class="p-footer-text">
														{% for text in object_list %}
														<a href="">{{ text.phone_contact_text }}</a>
														{% endfor %}
													</p>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div id="copyright">
							<ul>
								<li>&copy; INTRANET</li><li>Design: <a href="">Oscar da Silva</a></li>
							</ul>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="{% static 'app_home_page/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'app_home_page/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'app_home_page/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'app_home_page/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app_home_page/assets/js/util.js' %}"></script>
			<script src="{% static 'app_home_page/assets/js/main.js' %}"></script>

	</body>
</html>