{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Intranet - DashBoard</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="#" type="image/x-icon"/>
	
	<!-- Fonts and icons -->
	<script src="{% static 'app_inventario/assets/js/plugin/webfont/webfont.min.js' %}"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ["{% static 'app_inventario/assets/css/fonts.min.css' %}"]},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="{% static 'app_inventario/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'app_inventario/assets/css/atlantis.min.css' %}">
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{% static 'app_inventario/assets/css/demo.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">
				
				<a href="{% url 'index' %}" class="logo">
					<img src="{% static 'app_home_page/images/logo-white.png' %}" alt="navbar brand" class="navbar-brand" width="90" height="50" style="vertical-align:top">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
				
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
						<form class="navbar-left navbar-form nav-search mr-md-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pr-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
								<input type="text" placeholder="Pesquisa..." class="form-control">
							</div>
						</form>
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>		
					</ul>
				</div>
				
			</nav>
			<!-- End Navbar -->
		</div>
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">
			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Usuário: 
									<span class="user-level">{{ user.get_full_name }}</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
								
									<li>
										<a href="{% url 'admin:password_change' %}">
											<span class="link-collapse">Mudar Senha</span>
										</a>
									</li>
									<li>
										<a href="{% url 'admin:logout' %}">
											<span class="link-collapse">Sair</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						
						
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Aplicativos</h4>
						</li>
						
						
						<li class="nav-item">
							
							<div class="collapse" id="forms">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Basic Form</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						
						<li class="nav-item active submenu">
							{% if perms.global_permissions.acesso_ti %}
							<a data-toggle="collapse" href="#tables">
								<i class="fas fa-table"></i>
								<p>Inventário de Ativos</p>
								<span class="caret"></span>
							</a>
							
							<div class="collapse" id="tables">
								<ul class="nav nav-collapse">
									<li>
									<i class="fas fa-table"></i>
										<a href="{% url 'antivirus' %}">
											<span class="sub-item">Anti-Vírus</span>
										</a>
									</li>
									<li class="active">
										<a href="{% url 'accesspoint' %}">
											<span class="sub-item">Access Point</span>
										</a>
									</li>
									<li>
										<a href="{% url 'cameras' %}">
											<span class="sub-item">Câmeras</span>
										</a>
									</li>
									<li class="active">
										<a href="{% url 'switches' %}">
											<span class="sub-item">Switches</span>
										</a>
									</li>
									<li>
										<a href="{% url 'computadores' %}">
											<span class="sub-item">Computadores</span>
										</a>
									</li>
									<li class="active">
										<a href="{% url 'ddr' %}">
											<span class="sub-item">Dispositivos de Rede</span>
										</a>
									</li>
									<li class="active">
										<a href="{% url 'impressoras' %}">
											<span class="sub-item">Impressoras</span>
										</a>
									</li>
								</ul>
								
							</div>
							{% endif %}
							
							<li class="nav-item">
								<a href="{% url 'ramais' %}">
									<i class="fas fa-phone"></i>
									<p>Lista de Ramais</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'cardapio' %}">
									<i class="fas fa-utensils"></i>
									<p>Lista de Cardápios</p>
								</a>
							</li>
							{% if perms.global_permissions.acessi_ti %}
							<li class="nav-item">
								<a href="{% url 'admin:index' %}">
									<i class="fas fa-terminal"></i>
									<p>Admin</p>
								</a>
							</li>
							{% endif %}
							{% if perms.global_permissions.acesso_ti or perms.global_permissions.acesso_compras %}
							<li class="nav-item">
								<a href="{% url 'relatorioAlocacao_url' %}">
									<i class="fas fa-file-excel"></i>
									<p>Máquinas Alocadas</p>
								</a>
							</li>
							{% endif %}
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<!--
		-->
		{% block tables %}
		{% endblock %}
		
		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">

					<div class="switch-block">
						<h4>Navbar Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeTopBarColor" data-color="dark"></button>
							<button type="button" class="changeTopBarColor" data-color="blue"></button>
							<button type="button" class="changeTopBarColor" data-color="purple"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue"></button>
							<button type="button" class="changeTopBarColor" data-color="green"></button>
							<button type="button" class="changeTopBarColor" data-color="orange"></button>
							<button type="button" class="changeTopBarColor" data-color="red"></button>
							<button type="button" class="changeTopBarColor" data-color="white"></button>
							<br/>
							<button type="button" class="changeTopBarColor" data-color="dark2"></button>
							<button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="purple2"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="green2"></button>
							<button type="button" class="changeTopBarColor" data-color="orange2"></button>
							<button type="button" class="changeTopBarColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Sidebar</h4>
						<div class="btnSwitch">
							<button type="button" class="selected changeSideBarColor" data-color="white"></button>
							<button type="button" class="changeSideBarColor" data-color="dark"></button>
							<button type="button" class="changeSideBarColor" data-color="dark2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							<button type="button" class="changeBackgroundColor" data-color="dark"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="flaticon-settings"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="{% static 'app_inventario/assets/js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static 'app_inventario/assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'app_inventario/assets/js/core/bootstrap.min.js' %}"></script>
	<!-- jQuery UI -->
	<script src="{% static 'app_inventario/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'app_inventario/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
	
	<!-- jQuery Scrollbar -->
	<script src="{% static 'app_inventario/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
	<!-- Datatables -->
	<script src="{% static 'app_inventario/assets/js/plugin/datatables/datatables.min.js' %}"></script>
	<!-- Atlantis JS -->
	<script src="{% static 'app_inventario/assets/js/atlantis.min.js' %}"></script>
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="{% static 'app_inventario/assets/js/setting-demo2.js' %}"></script>
	
	<!-- Sweet Alert -->
	<script src="{% static 'app_inventario/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

	<!-- Atlantis JS -->
	<script src="{% static 'app_inventario/assets/js/atlantis.min.js' %}"></script>
	
	<script src="{% static 'app_inventario/assets/js/alert.js' %}"></script>
	<script>
	
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
		
	
	</script>
</body>
</html>